<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ng-myapp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body ng-app="ngMyapp" ng-controller="myappController">
        <!-- Navigation Bar-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ng-myapp</a>
                </div>
            </div>
        </nav>
        <div class="container" >
        <div class="col-sm-2" ng-repeat="data in data">
            <div class="thumbnail">
                <img ng-src="images/image1.png" alt="">
                <div class="caption" >
                        <h3>{{data.key}}</h3>
                        <p><strong>Value: </strong>{{data.value}}</p>
                </div>
            </div>
        </div>
    </div>    
        <button ng-click="show = !show">Toggle</button>
        <h2 ng-show="show == true">Show</h2>
        <input type="text" placeholder="Type something" ng-model="message">
        <h2>{{message}}</h2>
<pre>{{ arr | json}}</pre> 
    </body>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="scripts/myappController.js"></script>
    <script src="scripts/myappFactory.js"></script>
</html>